.principalAsados{
    justify-content: center;
    text-align: center;
    h2{
        margin-top: 30px;
    }
    em{
        font-size:x-large;
    }
    p{
        text-align: center;
    }
}

@media screen and (max-width: 425px) and (min-width: 100px){
    .principalAsados{
        h2{
            font-size: 30px;
        }
        em{
            font-size: large;
        }
        p{
            font-size: 14px;
        }
    }
}