.mainContenedorChef{
    div{
        .holaTitulo{
            font-size: 80px; 
            text-align: left;
            animation-name: moverTitulo2;
            animation-duration: 1.5s;
            animation-timing-function: ease-out;
            color:$colorsecundario2;
        }
    }
}

@keyframes moverTitulo2{
    0%{
        transform: scale(.1);
        color: $colorsecundario;
        transform: rotateX(120deg);
    }
}

.parrafoChef{
    padding: 20px 40px 20px;
    line-height:40px;
}

.fotoChef2{
    max-width: 100%;
    height: auto;
    object-fit: cover;
    display: inline-block;
    padding: 20px;
}

@media screen and (max-width: 768px){
    .fotoChef2{
        width: -webkit-fill-available;
    }
    .parrafoChef{
        width: 100%;
    }
}

@media screen and (max-width: 425px)and (min-width: 100px){
    .parrafoChef{
        font-size: 14px;
        line-height:20px;
        h3{
            text-align: center;
        }
        li{
            font-size: 14px;
        }
    }
}
