.formularioContacto{
    display: flex;
    height:700px;
    padding:60px;
    margin:auto;
}

.tituloContactate{
    font-size: 80px;
    padding: 10px;
    color: white;
}

.tituloSolicitud{
    color: $colorsecundario2;
    font-size: 50px;
}

.input-group-text{
    background-color:white;
}

.paginaContacto{
    background-image: url("/multimedia/contacto3.jpg");
    background-size:cover;
    height: 845px;
    filter: opacity(0.9);
    background-repeat: no-repeat;
}

@media screen and (max-width: 425px) and (min-width: 100px){
    .tituloContactate{
        font-size: 30px;
        text-align: center;
    }
    .tituloSolicitud{
        font-size: 25px;
        text-align: center;
    }
    .formularioContacto{
        padding:20px;
        justify-content: center
    }
}
