$colorPrincipal:aliceblue;
$colorsecundario:#1a1918;
$colorsecundario2: #808000;


$titulos: (
    h1: 3.5em,
    h2: 3em,
    h3: 2em,
    h4: 1em,
    h5: 0.75em,
    h6: 0.35em,
);

$h1: map-get($titulos, h1);

h1 {
    font-size: $h1;
}

$h2: map-get($titulos, h2);

h2 {
    font-size: $h2;
}

$h3: map-get($titulos, h3);

h3 {
    font-size: $h3;
}

$h4: map-get($titulos, h4);

h4 {
    font-size: $h4;
}

$h5: map-get($titulos, h5);

h5 {
    font-size: $h5;
}

$h6: map-get($titulos, h6);

h6 {
    font-size: $h6;
}

.boton22{
    background-color: $colorsecundario;
    color:white;
    width: 160px;
    margin: 10px;
    &:hover{
    background-color: $colorsecundario2;
    transition: background-color 1s;
    }
}
.boton22--enviar{
    @extend .boton22;
    color: green;
}

.boton22--borrar{
    @extend .boton22;
    color: red;
}

@mixin cajas ($fondo, $ancho, $alto) {
    color: $fondo;
    width: $ancho;
    height: $alto;
}

.caja1 {
    @include cajas (blue, 300px, 100px);
}

.caja2 {
    @include cajas (green, 500px, 50px);
}