@import "variables";
@import "header";
@import "footer";
@import "chef";
@import "recetas";
@import "contacto";
@import "catering";
@import "asados";

*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

p{
    font-size: 16px;
    text-align: justify;
    padding: 10px;
}

li{
    list-style-type: none;
    font-size: 16px;
}
a{
    text-decoration: none;
}
.header, .navegacion, .main, .articulo, .footer{
    padding: 1em 2em;
}
.main, .articulo, .footer{
    float: left;
}
body{
    background-color: $colormain;
}
.main{
    justify-content:center;
    align-items: center;
}
.contenedorImagenChef{
    max-width: 100%;
    width: auto;
}

.tituloPortada{
    margin-top: 40px;
    text-align: center;
    color: $colorsecundario;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 20px;
    position:relative;
    animation-name: moverTitulo;
    animation-duration: 3s;
}

@keyframes moverTitulo{
    0%{
        margin-bottom: -30px;
    }
    30%{
        letter-spacing: 25px;
    }
    85%{
        letter-spacing: 8px;
    }
}

.parrafo{
    text-align: center;
}

.articulo{
    text-align: -webkit-center
}

@media screen and (max-width: 1024px){
    .tituloPortada{
        font-size: 30px;
        font-weight: 500;
        letter-spacing: 6px;
    }
}

@media screen and (max-width: 768px){
    .tituloPortada{
        font-size: 25px;
        font-weight: 500;
        letter-spacing: 6px;
    }
    @keyframes moverTitulo{
        0%{
            margin-bottom: -15px;
        }
        30%{
            letter-spacing: 25px;
        }
        85%{
            letter-spacing: 6px;
        }
    }
}

@media screen and (max-width: 425px){
    .tituloPortada{
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 3px;
    }
    @keyframes moverTitulo{
        0%{
            margin-bottom: -15px;
        }
        85%{
            letter-spacing: 4px;
        }
    }
    .conoceChef{
        font-size: 18px;
    }
    .parrafo{
        font-size: 14px;
    }
}
