
.body{
    margin: 0;
    box-sizing: border-box;
    background-color: aliceblue;
}

p{
    font-size: 16px;
    text-align: justify;
    padding: 10px;
    /* margin: 10px; */
}

/*.grid-containerIndex{
    display: grid;
    background-color:#f2ede6;
    grid-template-columns: 300px auto 100px;
    grid-template-rows: 82px auto 250px 200px;
    grid-template-areas: 
    "header navegacion navegacion"
    "main main main"
    "articulo articulo articulo"
    "footer footer footer";
    gap: 0px ;
}

.grid-containerIndex > *{
    justify-content: center;
    text-align: center;
    color: black;
    border: 1px solid black;
}

.header{
    grid-area: header;
}
.navegacion{
    grid-area: navegacion;
}
.main{
    grid-area: main;
}
.articulo{
    grid-area: articulo;
}
.footer{
    grid-area: footer;
}
*/
.header, .navegacion, .main, .articulo, .footer{
    padding: 1em 2em;
}

.main, .articulo, .footer{
    float: left;
    width: 100%;
}

.header {
    display: flex;
    position: sticky;
    align-items: center;
    background-color: black;
    color: #7B7B7B;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    z-index: 10;
}

.navegacion {
    align-items: center;
    background: black;
    color: #7B7B7B;
}

.header__menu{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header__menu li{
    padding: 10px;
    color: rgba(255,255,255,.56);
}

.header__menu li a{
    color: rgba(255,255,255,.56);
}

.header__menu li a:hover{
    color:#808000;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.header__submenu{
    display: none;
    position: absolute;
}
.header__submenu li{
    display:block;
    background-color: black;
}
.header__menu li:hover .header__submenu{
    display: block
}

.main{
    justify-content: center;
    align-items: center;
}

.imagenChef{
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
.tituloPortada{
    margin-top: 40px;
    text-align: center;
    color: black;
}
.boton1{
    background-color: #1a1918;
    color: white;
    display: inline-block;
    position: relative;
    width: 180px;
    height: 25px;
    padding: 1.875em;
    margin: 20px;
}
.boton1:hover{
    background-color: #808000;
    transition: background-color 1s;
}
.footer{
    background-color:#1a1918;
    color: white;
}

/*TAMAÑO TABLET INDEX*/
/*@media screen and(max-width:768px){
    .grid-containerIndex{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "header navegacion"
        "main main"
        "articulo articulo"
        "footer footer";
    } 
}
*/
/*TAMAÑO CELULAR INDEX*/
/*@media screen and(max-width:500px){
    .grid-containerIndex{
        grid-template-columns: 1fr;
        grid-template-areas:
        "header"
        "navegacion"
        "main"
        "footer";
    }
    .header__menu{
        flex-direction: column;
    }
}
*/
/*.grid-containerHeader{
    display: grid;
    grid-template-columns: 300px auto 100px;
    grid-template-rows: 82px;
    grid-template-areas: 
    "header navegacion navegacion";
    gap: 0px ;
}

.grid-contenedorFooter{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px;
    grid-template-areas: 
    "footer footer footer";
    gap: 0px ;
    justify-content: center;
    text-align: center;
}
*/

.grid-item{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    transition: transform 0.3s ease-in-out;
}
.grid-item:hover{
    filter: opacity(0.9);
    transform: scale(1.04);
}
.grid-item img{
    width: 100%;
}
.grid-containerGaleria{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 10px;
    grid-auto-flow: dense;
}

@media screen and (min-width: 600px){
    .wide{
        grid-column:span 2;
    }
    .tall{
        grid-row: span 2;
    }
}

.formularioContacto{
    display: flex;
    width: 600px;
    height:100vh;
    padding:50px;
    margin:auto;
}

/*.formularioContacto__form{
    display: flex; 
    flex-flow: column; 
    position: relative;
    left: 150px;
    top: 250px;
}

.formularioContacto{
    display: flex;
    padding: 30px;
    margin:auto;
    height: 75vh; 
}

.formularioContacto__form{
    display: flex; 
    flex-flow: column; 
    position: relative;
    left: 150px;
    top: 100px;
    width: 300px;
}*/

.mainContenedorChef img{
    animation-name: moverImagen;
    animation-duration: 3s;
}

@keyframes moverImagen{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(4%);
    }
} 

.tituloPortada{
    color: #1a1918;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 20px;
    position:relative;
    animation-name: moverTitulo;
    animation-duration: 3s;
}

@keyframes moverTitulo{
    0%{
        margin-bottom: -30px;
    }
    30%{
        letter-spacing: 25px;
    }
    85%{
        letter-spacing: 8px;
    }
}
.boton2{
    background-color: #1a1918;
    color:white;
    width: 160px;
    margin: 10px;

}

.boton2:hover{
    background-color: #808000;
    transition: background-color 1s;
}

.tituloContactate{
    font-size: 80px;
    padding: 10px;
}

.tituloSolicitud{
    color: #808000;
    font-size: 50px;
}

.input-group-text{
    background-color:white;
}

@media screen and (max-width: 500px) and (min-width: 100px){
    .tituloContactate{
        font-size: 30px;
        text-align: center;
    }
    .tituloSolicitud{
        font-size: 25px;
        text-align: center;
    }
    
}

.fotoChef2{
    max-width: 100%;
    height: auto;
    object-fit: cover;
    display: inline-block;
    padding: 20px;
}

.parrafoChef{
    padding: 20px;
}

.mainContenedorChef div h2{
    font-size: 80px; 
    text-align: left;
    animation-name: moverTitulo2;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    color:#808000;
}

@keyframes moverTitulo2{
    0%{
        transform: scale(.1);
        color: #1a1918;
        transform: rotateX(120deg);
    }
}